@model WebApplication3.Models.SkaitytojaiDouble

@{
    ViewBag.Title = "Nauji skaitytojai";
}

<h2>Nauji skaitytojai</h2>

<script>
    function myFunction(a, b, c, d, e, f) {
        var element = document.getElementById(a);
        var element2 = document.getElementById(b);
        var element3 = document.getElementById(c);
        var element4 = document.getElementById(d);
        var element5 = document.getElementById(e);
        var element6 = document.getElementById(f);
        element.value = '';
        element2.value = '';
        element3.value = '';
        element4.value = '';
        element5.value = '';
        element6.value = '';
    }

</script>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Įveskite duomenis</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <table style="width:70%" class="col-md-10">
            <tr height="50" style="vertical-align:top">
                <th><label for="SomekingStatus" class="control-label">Naujas skaitytojas</label></th>
                <th><label for="SomekingStatus" class="control-label">Naujas skaitytojas</label></th>
            </tr>
            <tr height="50" style="vertical-align:top">
                <td>
                    <div class="form-group">
                        @Html.LabelFor(model => model.kodas1, "Kodas", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.kodas1, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.kodas1, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Vardas1, "Vardas",htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Vardas1, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Vardas1, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Pavarde1, "Pavardė", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Pavarde1, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Pavarde1, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Gimimo_metai1, "Gimimo data", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Gimimo_metai1, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Gimimo_metai1, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.TelefonoNr1, "Tel.Nr", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.TelefonoNr1, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TelefonoNr1, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Email1, "El.Paštas", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Email1, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email1, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.TipasId1, "Tipas", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("TipasId1", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.TipasId1, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.BibliotekaId1, "Biblioteka", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("BibliotekaId1", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.BibliotekaId1, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </td>

                <td>
                    <div class="form-group">
                        @Html.LabelFor(model => model.kodas2, "Kodas", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.kodas2, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.kodas2, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Vardas2, "Vardas", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Vardas2, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Vardas2, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Pavarde2, "Pavardė", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Pavarde2, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Pavarde2, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Gimimo_metai2, "Gimimo data", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Gimimo_metai2, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Gimimo_metai2, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.TelefonoNr2, "Tel.Nr", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.TelefonoNr2, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TelefonoNr2, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Email2, "El.Paštas", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Email2, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email2, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.TipasId2, "Tipas", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("TipasId2", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.TipasId2, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.BibliotekaId2, "Biblioteka", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("BibliotekaId2", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.BibliotekaId2, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </td>
            </tr>

            <tr height="50" style="vertical-align:top">
                <td>
                    <button onclick="myFunction('kodas1','Vardas1','Pavarde1','Gimimo_metai1', 'TelefonoNr1', 'Email1')" class="btn btn-danger" align="left">Pašalinti</button>
                </td>

                <td>
                    <button onclick="myFunction('kodas2','Vardas2','Pavarde2','Gimimo_metai2', 'TelefonoNr2', 'Email2')" class="btn btn-danger" align="left">Pašalinti</button>
                </td>
            </tr>

        </table>
        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Pridėti" class="btn btn-info" />
            </div>
        </div>
    </div>
}

    <div>
        @Html.ActionLink("Grįžti į sąrašą", "Index", null, new { @class = "btn btn-default action" })
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
