@model WebApplication3.Models.Ataskaita

@{
    ViewBag.Title = "Kurti ataskaitą";
}

<h2>Kurti ataskaitą</h2>

<h5>Įveskite užsakymo numerius</h5>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="form-group">
        @Html.LabelFor(model => model.NUO, "Užsakymo numeris NUO", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NUO, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NUO, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IKI, "Užsakymo numeris IKI", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.IKI, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.IKI, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.viso, "MAX paimtų leidinių kiekis", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.viso, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.viso, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        <div class="col-md-10">
            @if (ViewBag.msg != null)
            {
                <h5 style="color:green; margin-left: 21em;"><i><b>@ViewBag.msg</b></i></h5>
            }
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Išsaugoti" class="btn btn-info" />
        </div>
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}